#res-icon {
    padding-top: 10px;
    opacity: 45%;
    min-width: 235px;
    
}

#about-row {
    margin-right: 0;
}

.headshot {
    border-radius: 2rem;
}


#resume {
    padding-bottom: 1rem;
    background-color: #CFB997;
    color: white;
}

#main-text {
    color: black;
    z-index: 1;
}

@media (max-width: 430px) {
    .dwnbtn{
        width: 100%;
    }
  }

  

  .container {
    padding-bottom: 5px;
  }

