* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    min-height: 100vh;
}

.tabs {
    margin: auto;
    padding: auto;
    text-align:center;
}

.container {
    margin: auto;
    padding: auto;
    max-width: 1080px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.resume {
    width: 75%;
}

.download_options{
    position: relative;
    top: 25%;
}

.download_options p {
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.download_btn {
    margin: 5px;
    background-color: rgb(40, 115, 182);
    padding: 20px;
    width: 200px;
    border-radius: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    


}

#footer {
    background-color: black;
    position: 
    height 100px;
    margin-top: -100px;
    clear: both;
}