*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}


header{
    margin-top: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

form {
    margin: 0 auto;
    padding: 60px;
    max-width: 1000px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    background-color: bisque;
    box-shadow: 3px 3px 1px rgba(146, 35, 35, 0.5);
}

input {
    margin-right: 50px;
}


.expenseTable {
    margin-top: 15px;
    display:flex;
    justify-content: center;
    align-items: center;

}

th {
    border: 2px solid rgba(116, 34, 34, 0.164);
    background-color: rgba(150, 139, 139, 0.336);
    padding-right: 200px;
    text-align: left;
}

.expenseGroup{
    color:blue;
}

td{
    margin: 25px;
    background-color: aquamarine;
    text-align: left;
}