html, body {
    height: 100%;
  }
  
body {
    overflow: hidden;
}

#descontiner{
    max-height: 650px;
}

#toggler{
    max-height: 500px;
}

#scrollList {
    overflow: auto;

  }
  
  .bd-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  /* Set the height of the footer for desktop */
@media (min-width: 768px) {
  footer {
    height: 200px;
  }
}

/* Set the height of the footer for mobile */
@media (max-width: 767px) {
  footer {
    height: 200px;
  }
}